html,
body {
  height: 100%;
}
body {
  background-color: #eee;
}
.category-layout {
  width: 100%;
  height: 100%;
  max-width: 640px;
  min-width: 320px;
  background-color: #fff;
  margin: 0 auto;
}
/*分类头部*/
.category-header {
  position: absolute;
  /*搜索框*/
}
.category-header form {
  width: 100%;
  height: 100%;
  padding-top: 7px;
}
.category-header form input {
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding-left: 10px;
}
/*分类主体*/
.category-body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 44px;
}
.category-body .body-left {
  float: left;
  height: 100%;
  width: 90px;
  overflow: hidden;
}
.category-body .body-left ul li a {
  display: block;
  width: 90px;
  height: 50px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: center;
  line-height: 50px;
}
.category-body .body-left ul li.last{
  height:67px;

}
.category-body .body-left ul li.last a{
  height:67px;
  line-height:30px;
}
.category-body .body-left ul .current a {
  color: blue;
  border-right: none;
  border-left: 2px solid blue;
  background-color: #eee;
}
.category-body .body-right {
  position:relative;
  height: 100%;
  overflow: hidden;
  background-color: #eee;
  /*padding: 10px;*/
}
.right-in ul{
  display: none;
	height: 100%;
}
.right-in ul.active{
  display: block;
  height: 100%;
}
.category-body .body-right .right-in .banner a {
  display: block;
}
.category-body .body-right .right-in .banner a img {
  width: 100%;
}
.category-body .body-right .right-in .hot ul {
  padding-top: 10px;
}
.category-body .body-right .right-in .hot ul li {
  float: left;
  width: 33.33%;
  margin-bottom: 10px;
}
.category-body .body-right .right-in .hot ul li a {
  display: block;
  text-align: center;
}
.category-body .body-right .right-in .hot ul li a img {
  width: 65%;
}

.right-in ul li{
  position:relative;
  height:50px;
  border-bottom:1px solid #ccc;
  line-height:50px;
  padding-left:30px;
}
.right-in ul li::before{
  position:absolute;
  top: 17px;
  left:10px;
  border-radius:3px;
  content:'4';
  display:inline-block;
  width: 14px;
  height: 14px;
  line-height:14px;
  text-align:center;
  background-color: #aaa;
  color:#fff;
}
.right-in ul li:nth-child(1){
  position:relative;
  height:50px;
  border-bottom:1px solid #ccc;
  line-height:50px;
  padding-left:30px;
}
.right-in ul li:nth-child(1)::before{
  position:absolute;
  top: 17px;
  left:10px;
  border-radius:3px;
  content:'1';
  display:inline-block;
  width: 14px;
  height: 14px;
  line-height:14px;
  text-align:center;
  background-color: red;
  color:#fff;
}
.right-in ul li:nth-child(2){
  position:relative;
  height:50px;
  border-bottom:1px solid #ccc;
  line-height:50px;
  padding-left:30px;
}
.right-in ul li:nth-child(2)::before{
  position:absolute;
  top: 17px;
  left:10px;
  border-radius:3px;
  content:'2';
  display:inline-block;
  width: 14px;
  height: 14px;
  line-height:14px;
  text-align:center;
  background-color: orange;
  color:#fff;
}
.right-in ul li:nth-child(3){
  position:relative;
  height:50px;
  border-bottom:1px solid #ccc;
  line-height:50px;
  padding-left:30px;
}
.right-in ul li:nth-child(3)::before{
  position:absolute;
  top: 17px;
  left:10px;
  border-radius:3px;
  content:'3';
  display:inline-block;
  width: 14px;
  height: 14px;
  line-height:14px;
  text-align:center;
  background-color: lightblue;
  color:#fff;
}